.ce-selectbox {
  visibility: hidden;
  transition: opacity 100ms ease, box-shadow 0.2s ease-in-out;
  will-change: opacity;
  position: absolute;
  bottom: 75px;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  background-color: #FFFFFF;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.06), 0 15px 45px -2px rgba(0,0,0,0.05);
  padding: 10px 0;
  max-height: 260px;
  min-width: 180px;
  overflow-y: auto;
  right: 0;
  overflow-y: auto;

  &--opened {
    opacity: 1;
    visibility: visible;
  }

  &__button {
    @apply --selectbox-item;
    flex-shrink: 0;

    & > div {
      display: flex;
      width: 20px;
    }

    span {
      margin-left: 10px;
    }
  }

  &__list {
    list-style-type: none;
    list-style-position: outside;
    padding: 0;
    margin: 0;
  }
}

.ce-selectbox:hover {
  background: #FFFFFF;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.15), 0 15px 45px -2px rgba(0,0,0,0.16);
  border-radius: 8px;
  color: #707684;
}

.ce-selectbox-button-tooltip {
  &__shortcut {
    opacity: 0.6;
    word-spacing: -3px;
    margin-top: 3px;
  }
}

/**
 * Styles for Narrow mode
 */
.codex-editor--narrow .ce-selectbox {
  @media (--not-mobile) {
    background: #fff;
    z-index: 2;
  }
}
